@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

#com
{
    width: 155px;
    height: 35px;
    background-color: rgba(255, 255, 255, 0.1);
    padding-top: 5px;
    color: #23CC12;
    padding-left: 45px;
    border-radius: 20px;
    border: 2px solid #1D2026;
    font-family: Rubik;
    cursor: pointer;
    float: right;
    font-size: 25px;
}

#com:hover
{
    background-color: #DED30F;
    transition: background-color 1s;
    color: #1D2026;
}