@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body
{
    background-color: #1D2026;
}



a
{
    text-decoration: none;
    color: #ffff;
    font-size: 32px;
    font-family: Rubik;
}

li :hover
{
    color: #23CC12;
}

#logo
{
    cursor: pointer;
    width: 410px;
    position: absolute;
    top: 15px;
}

nav
{
    padding-top: 58px;
}

#enter
{
    font-family: Rubik;
}

#oneone
{
    position: absolute;
    top: 370px;
    left: 300px;
    font-size: 30px;
    color: #23CC12;
}

#one
{
    position: absolute;
    top: 450px;
    left: 350px;
    font-size: 30px;
    color: #DED30F;
    background-color: rgba(255, 255, 255, 0.1);
    font-family: Rubik;
    border: none;
    height: 45px;
    padding-left: 20px;
    width: 500px;
}



#id
{
    position: absolute;
    left: 500px;
    top: 210px;
    color: #DED30F;
    font-size: 40px;
}

#oneoneoneoneone
{
    position: absolute;
    top: 550px;
    left: 300px;
    font-size: 30px;
    color: #23CC12;
}

#oneoneoneoneoneone
{
    position: absolute;
    top: 630px;
    left: 350px;
    font-size: 30px;
    color: #DED30F;
    background-color: rgba(255, 255, 255, 0.1);
    font-family: Rubik;
    border: none;
    height: 45px;
    padding-left: 20px;
    width: 500px;
}

#oneoneone
{
    position: absolute;
    top: 730px;
    left: 300px;
    font-size: 30px;
    color: #23CC12;
}

#oneoneoneone
{
    position: absolute;
    top: 810px;
    left: 350px;
    font-size: 30px;
    color: #DED30F;
    background-color: rgba(255, 255, 255, 0.1);
    font-family: Rubik;
    border: none;
    height: 45px;
    padding-left: 20px;
    width: 500px;
}

form
{
    font-weight: 30;
}



#df
{
    width: 10px;
    height: 1020px;
    background-color: #1D2026;
}

#reset
{
    border: 1px solid #ffff;
    cursor: pointer;
    position: absolute;
    top: 990px;
    left: 380px;
    width: 150px;
    height: 45px;
    border-radius: 20px;
    font-size: 25px;
    font-family: Rubik;
    background-color: rgba(255, 255, 255, 0.1);
    color: #23CC12;
}

#reset:hover
{
    background-color: #23CC12;
    color: #1D2026;
    transition: background-color 1s;
    height: 50px;
    width: 155px;
    top: 985px;
}

#go
{
    border: 1px solid #ffff;
    cursor: pointer;
    position: absolute;
    top: 990px;
    left: 650px;
    width: 150px;
    height: 45px;
    border-radius: 20px;
    font-size: 25px;
    font-family: Rubik;
    background-color: rgba(255, 255, 255, 0.1);
    color: #DED30F;
}

#go:hover
{
    background-color: #DED30F;
    color: #1D2026;
    transition: background-color 1s;
    height: 50px;
    width: 155px;
}






























































@media screen and (max-width: 1340px)
{
    nav
    {
        background-color: #1D2026;
        margin-left: 400px;
    }

    li
    {
        list-style: none;
        display: inline-block;
        padding-left: 35px;
    }

    a
    {
        text-decoration: none;
        color: #ffff;
        font-size: 30px;
        font-family: Rubik;
    }

    li :hover
    {
        color: #23CC12;
    }

    #logo
    {
        cursor: pointer;
        width: 350px;
        position: absolute;
        top: 15px;
    }

    nav
    {
        padding-top: 55px;
    }

    #namea
    {
        top: 265px;
    }

    #agea
    {
        top: 337px;
    }

    #in2
    {
        top: 409px;
    }

    #cona
    {
        top: 480px;
    }
} 

@media screen and (max-width: 1260px)
{
    nav
    {
        background-color: #1D2026;
        margin-left: 320px;
    }

    li
    {
        list-style: none;
        display: inline-block;
        padding-left: 35px;
    }

    a
    {
        text-decoration: none;
        color: #ffff;
        font-size: 30px;
        font-family: Rubik;
    }

    li :hover
    {
        color: #23CC12;
    }

    #logo
    {
        cursor: pointer;
        width: 350px;
        position: absolute;
        top: 15px;
    }

    nav
    {
        padding-top: 55px;
    }
} 

@media screen and (max-width: 1200px)
{
    nav
    {
        position: absolute;
        top: 0;
        left: -320px;
        background-color: #1D2026;
        z-index: 2;
        width: 100%;
        height: 150%;
        clip-path: circle(100px at 90% -10%);
        -webkit-clip-path: circle(100px at 90% -10%);
        transition: all ease-out 1s;
    }

    .open
    {
        clip-path: circle(1200px at 90% -10%);
        -webkit-clip-path: circle(1200px at 90% -10%);
    }

    a
    {
        color: #ffff;
        font-weight: bold;
    }

    a:hover
    {
        color: #23CC12;
    }

    #aka
    {
        position: absolute;
        left: 45%;
    }

    #deka
    {
        position: absolute;
        left: 42%;
        top: 200px;
    }

    #thuna
    {
        position: absolute;
        left: 45.3%;
        top: 320px;
    }

    #hatara
    {
        position: absolute;
        left: 44%;
        top: 440px;
    }

    #logo
    {
        cursor: pointer;
        width: 410px;
        position: absolute;
        top: 15px;
    }

    #a
    {
        width: 50px;
        height: 5px;
        border-radius: 10px;
        background-color: #ffff;
        margin-bottom: 10px;
        z-index: 2;
    }

    #aa
    {
        width: 50px;
        height: 5px;
        border-radius: 10px;
        background-color: #ffff;
        margin-bottom: 10px;
        z-index: 2;
    }

    #aaa
    {
        width: 50px;
        height: 5px;
        border-radius: 10px;
        background-color: #ffff;
        margin-bottom: 10px;
        z-index: 2;
    }
    
    #lines
    {
        cursor: pointer;
        background-color: #1D2026;
        width: 50px;
        height: 35px;
        position: absolute;
        top: 80px;
        left: 1000px;
        z-index: 2;
    }

    #mmmone
    {
        padding-top: 250px;
    }

    .anyone
    {
        padding-left: 190px;
    }

    #allde
    {
        margin-top: 250px;
    }

    #namea
    {
        top: 250px;
    }

    #agea
    {
        top: 322px;
    }

    #in2
    {
        top: 394px;
    }

    #cona
    {
        top: 465px;
    }

    #df
    {
        margin-bottom: 100px;
    }
}

@media screen and (max-width: 1110px)
{
    #lines
    {
        cursor: pointer;
        background-color: #1D2026;
        width: 50px;
        height: 35px;
        position: absolute;
        top: 80px;
        left: 900px;
        z-index: 2;
    }

    #allde
    {
        margin-top: 250px;
    }
}

@media screen and (max-width: 1000px)
{
    #lines
    {
        cursor: pointer;
        background-color: #1D2026;
        width: 50px;
        height: 35px;
        position: absolute;
        top: 80px;
        left: 600px;
        z-index: 2;
    }

    .anyone
    {
        padding-left: 60px;
    }

    .co2
    {
        font-size: 35px;
    }

    #mmmone
    {
        font-size: 40px;
    }

    #oneoneoneoneoneoneone
    {
        font-size: 22px;
        left: 220;
    }

    #id
    {
        opacity: 0;
    }
}